body{
  background-color: #b8e6f3;
  padding: 20px;
}

.app {
  text-align: center;
}

.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.search-form{
  margin-bottom: 40px;
}

.search-bar{
  border: 1px solid #aaa;
  padding: 10px 14px;
  border-radius: 5px;
  margin-right: 5px;
}

.search-button{
  border: 1px solid #1355ce;
  padding: 10px 14px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: #1355ce;
}

.recipe-item{
  background-color: #eee;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}

@media(min-width: 992px){
  .recipe-item{
    width: 31%;
    margin: 1%;
    float: left;
  }  
}

.recipe-item img{
  float: left;
  width: 50%;
}

.recipe-item .content{
  padding: 15px;
}

.recipe-item a{
  text-decoration: none;
  color: black;
}