body{
  background-color: #94b6bf;
  padding: 20px;
}

.app {
  text-align: center;
}

.app h1{
  color: #1c4480;
}

.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.search-form{
  margin-bottom: 40px;
}

.search-bar{
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
}

.search-button{
  border: 1px solid #1c4480;
  padding: 10px 14px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: #1c4480;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-button:hover{
  color: white;
  background-color: #1c4480;
}

.recipe-item{
  background-color: #eee;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  height: 201px;
}

@media(min-width: 992px){
  .recipe-item{
    width: 31%;
    margin: 1%;
    float: left;
  }  
}

.recipe-item img{
  float: left;
  width: 50%;
}

.recipe-item h2{
  font-size: 1.2em;
}

.recipe-item .content{
  padding: 13px;
  float: right;
  width: 50%;
  box-sizing: border-box;
}

.recipe-item a{
  text-decoration: none;
  color: black;
}