body{
  background-color: #b8e6f3;
  padding: 20px;
}

.app {
  text-align: center;
}

.search-form{
  margin-bottom: 40px;
}

.search-bar{
  border: 1px solid #aaa;
  padding: 10px 14px;
  border-radius: 5px;
}

.search-button{
  border: 1px solid #1355ce;
  padding: 10px 14px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: #1355ce;
}

.recipe-item{
  background-color: #eee;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}